*,
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

* {
   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 4px solid var(--focus-main-color);
      outline-offset: 2px;
   }
}

.btn-reset {
   border: none;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
   cursor: pointer;
}

button {
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

address {
   font-style: normal;
}

a {
   display: inline-block;
   font: inherit;
   text-decoration: none;
   color: inherit;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
   max-height: 100%;
}

svg {
   vertical-align: middle;
   overflow: hidden;
}

ul,
ol {
   list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

summary {
   display: block;
}

summary::-webkit-details-marker {
   display: none;
}

html {
   height: 100%;

   /* font-size: 62.5%; */
}

body {
   height: 100%;
   font-family: var(--font-family);
   font-size: var(--font-size);
   line-height: var(--line-height);
   color: var(--main-text-color);
}

.page__wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex-grow: 1;
}

.visually-hidden {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   visibility: hidden;
   pointer-events: none;
}

.container {
   max-width: calc(var(--container-max-width) + 2 * var(--container-safety-indents));
   margin: 0 auto;
   padding: 0 var(--container-safety-indents);

   @media (max-width: 1258px) {
      --container-max-width: 940px;
   }

   @media (max-width: 834px) {
      --container-max-width: 460px;
   }

   @media (max-width: 360px) {
      --container-max-width: 300px;
   }
}

.grid-layout {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 30px;

   @media (max-width: 1258px) {
      column-gap: 20px;
   }

   @media (max-width: 834px) {
      grid-template-columns: repeat(6, 1fr);
   }

   @media (max-width: 360px) {
      grid-template-columns: repeat(4, 1fr);
   }
}
