<div class="catalog-menu">
   <h2 class="visually-hidden">Каталог автомобилей</h2>
   <div class="catalog__wrapper">
      <div class="catalog__left">
         <ul>
            <li><a href="#">Все автомобили</a></li>
            <li><a href="#">Автомобили в наличии</a></li>
            <li><a href="#">Спецпредложения</a></li>
            <li><a href="#">Коммерческие</a></li>
            <li><a href="#">Эксклюзивные</a></li>
         </ul>
         <button class="btn btn--primary catalog__btn">Оставить заявку</button>
      </div>

      <div class="catalog__right">
         <section class="catalog__section">
            <h3>Марки автомобилей</h3>
            <ul>
               <li>
                  <a href="#">
                     <img src="/img/car-brand/audi.png" alt="audi" />
                     <span>Audi</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/BMW.png" alt="BMW" />
                     <span>BMW</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/BYD.png" alt="BYD" />
                     <span>BYD</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Changan.png" alt="Changan" />
                     <span>Changan</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Chery.png" alt="Chery" />
                     <span>Chery</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Chevrolet.png" alt="Chevrolet" />
                     <span>Chevrolet</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Citroen.png" alt="Citroen" />
                     <span>Citroen</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Dongfeng.png" alt="Dongfeng" />
                     <span>Dongfeng</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/FAW.png" alt="FAW" />
                     <span>FAW</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Geely.png" alt="Geely" />
                     <span>Geely</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/GreatWall.png" alt="GreatWall" />
                     <span>Great Wall</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Haval.png" alt="Haval" />
                     <span>Haval</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Hyundai.png" alt="Hyundai" />
                     <span>Hyundai</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Jeep.png" alt="Jeep" />
                     <span>Jeep</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/JAC.png" alt="JAC" />
                     <span>JAC</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/KIA.png" alt="KIA" />
                     <span>KIA</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Lada.png" alt="Lada" />
                     <span>Lada</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Lifan.png" alt="Lifan" />
                     <span>Lifan</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Mazda.png" alt="Mazda" />
                     <span>Mazda</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Nissan.png" alt="Nissan" />
                     <span>Nissan</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Peugeot.png" alt="Peugeot" />
                     <span>Peugeot</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Renault.png" alt="Renault" />
                     <span>Renault</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Skoda.png" alt="Skoda" />
                     <span>Skoda</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-brand/Volkswagen.png" alt="Volkswagen" />
                     <span>Volkswagen</span>
                  </a>
               </li>
            </ul>
         </section>

         <section class="catalog__section catalog__section--body-style">
            <h3>Тип кузова</h3>
            <ul>
               <li>
                  <a href="#">
                     <img src="@img/car-type/sedan.png" alt="Седан" />
                     <span>Седан</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-type/hatchback.png" alt="Хэтчбек" />
                     <span>Хэтчбек</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-type/stationWagon.png" alt="Универсал" />
                     <span>Универсал</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-type/crossover.png" alt="Кроссовер" />
                     <span>Кроссовер</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-type/offRoader.png" alt="Внедорожник" />
                     <span>Внедорожник</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/car-type/minivan.png" alt="Минивэн" />
                     <span>Минивэн</span>
                  </a>
               </li>
            </ul>
         </section>

         <section class="catalog__section catalog__section--country">
            <h3>Страна производитель</h3>
            <ul>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/Russia.png" alt="Россия" />
                     <span>Россия</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/China.png" alt="Китай" />
                     <span>Китай</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/Korean.png" alt="Корея" />
                     <span>Корея</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/Europe.png" alt="Европа" />
                     <span>Европа</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/Japan.png" alt="Япония" />
                     <span>Япония</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/USA.png" alt="США" />
                     <span>США</span>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <img src="@img/country-flag/other-country.png" alt="Другие страны" />
                     <span>Другие</span>
                  </a>
               </li>
            </ul>
         </section>
      </div>
   </div>
</div>
