<footer class="footer">
   <div class="container grid-layout">
      <a class="logo footer__logo" href="/">
         <picture>
            <source media="(max-width: 360px)" srcset="@img/logo-second-360w.png" />
            <source media="(max-width: 834px)" srcset="@img/logo-second-834w.png" />
            <source media="(max-width: 1258px)" srcset="@img/logo-second-1258w.png" />
            <img class="logo__img" src="@img/logo-second.png" alt="логотип Авто Динамика" />
         </picture>
      </a>

      <div class="footer__actions">
         <address class="footer-contacts footer__contacts">
            <div class="footer-contacts__work-hours">Ежедневно с&nbsp;09:00 до&nbsp;21:00</div>
            <a class="footer-contacts__phone-link" href="tel:88007777777">
               <span>+7&nbsp;495 374-94-88</span>
               <span class="footer-contacts__phone-link footer-contacts__phone-link--small">
                  Обратный звонок
               </span>
            </a>
            <a class="footer-contacts__email" href="mailto:support@auto-dinamika.com">
               support@auto-dinamika.com
            </a>
            <a class="footer-contacts__address" href="#">
               г. Москва, ул. Крылатская, д.&nbsp;2, корп.&nbsp;4
            </a>
         </address>

         <nav>
            <h3><a href="#">Автомобили</a></h3>
            <ul>
               <li><a href="#">Новые автомобили</a></li>
               <li><a href="#">Автомобили с&nbsp;пробегом</a></li>
               <li><a href="#">Автомобили для такси</a></li>
            </ul>
         </nav>

         <nav>
            <h3><a href="#">Варианты кузова</a></h3>
            <ul>
               <li><a href="#">Седан</a></li>
               <li><a href="#">Кроссовер</a></li>
               <li><a href="#">Универсал</a></li>
               <li><a href="#">Внедорожник</a></li>
               <li><a href="#">Хэтчбек</a></li>
            </ul>
         </nav>

         <nav>
            <h3><a href="#">Услуги</a></h3>
            <ul>
               <li><a href="#">Кредит</a></li>
               <li><a href="#">Trade-In</a></li>
               <li><a href="#">Выкуп автомобилей</a></li>
               <li><a href="#">Услуги для такси</a></li>
            </ul>
         </nav>

         <nav>
            <h3><a href="#">О&nbsp;компании</a></h3>
            <ul>
               <li><a href="#">Отзывы</a></li>
               <li><a href="#">Новости</a></li>
               <li><a href="#">Партнёры</a></li>
               <li><a href="#">Контакты</a></li>
               <li><a href="#">Карта сайта</a></li>
            </ul>
         </nav>
      </div>

      <div class="footer__text">
         <p>
            Обращаем ваше внимание на&nbsp;то, что данный Интернет-сайт носит исключительно
            информационный характер и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной
            офертой, определяемой положениями статьей 435, 437, 494 Гражданского кодекса Российской
            Федерации. Для получения подробной информации о&nbsp;стоимости автомобилей обращайтесь
            в&nbsp;отдел продаж.*Представленные на&nbsp;сайте калькуляции кредита на&nbsp;автомобиль
            являются приблизительными, точная стоимость финансирования рассчитывается кредитным
            специалистом в&nbsp;зависимости от&nbsp;индивидуальных параметров заёмщика при
            предоставлении двух документов в&nbsp;организацию.
         </p>
         <p>
            ООО &laquo;АВТО-ГАРАНТ&raquo;, ИНН&nbsp;/ КПП 7734459351&nbsp;/ 73401001, Юр. адрес:
            123098, г. Москва, ул. Рогова, д.&nbsp;12, помещение 2П
         </p>
         <p>
            <a href="#">Политика конфиденциальности&nbsp;</a>|
            <a href="#">Пользовательское соглашение&nbsp;</a>|
            <a href="#">Условия кредитования</a>
         </p>
      </div>
   </div>
</footer>
