<header class="header">
   <div class="header__top-line">
      <div class="container">
         <div class="header__top-inner">
            <div class="header__top-item header-top-item">
               <span class="header-top-item__icon">
                  <svg><use href="./img/svg/sprite.svg#ic-watch"></use></svg>
               </span>
               <span class="header-top-item__text header-top-item__text--fw400">
                  Работаем ежедневно с 9:00 до 21:00
               </span>
            </div>

            <a class="header__top-item header-top-item" href="tel:88007777777">
               <span class="header-top-item__icon">
                  <svg><use href="./img/svg/sprite.svg#ic-phone"></use></svg>
               </span>
               <span class="header-top-item__text">8 800 777-77-77</span>
               <span
                  class="header-top-item__text header-top-item__text--small header-top-item__text--fw400 header-top-item__text--ml">
                  (Звонок по России бесплатный )
               </span>
            </a>

            <button class="header__top-item header-top-item">
               <span class="header-top-item__icon">
                  <svg><use href="./img/svg/sprite.svg#ic-search"></use></svg>
               </span>
               <span class="header-top-item__text">Поиск</span>
            </button>

            <button class="header-top-item header__top-item header__top-item--hover-color">
               <span class="header-top-item__text">Обратный звонок</span>
            </button>
         </div>
      </div>
   </div>

   <div class="header__bottom-line">
      <div class="container">
         <div class="header__bottom-inner">
            <a class="logo header__logo" href="/">
               <img src="@img/logo.png" alt="логотип Авто Динамика" />
            </a>

            <nav class="header__main-menu">
               <ul>
                  <li>
                     <a href="#">Новые автомобили</a>
                     @@include('catalog.html',{})
                  </li>
                  <li><a href="#">С пробегом</a></li>
                  <li><a href="#">Такси в кредит</a></li>
                  <li><a href="#">Автокредит</a></li>
                  <li>
                     <a href="#"> Услуги </a>
                     <ul>
                        <li><a href="#">Автокредитование</a></li>
                        <li><a href="#">Регистрация в ГИБДД</a></li>
                        <li><a href="#">Корпоративным клиентам</a></li>
                        <li><a href="#">Тест-драйв</a></li>
                        <li><a href="#">Лизинг</a></li>
                        <li><a href="#">Автострахование</a></li>
                     </ul>
                  </li>

                  <li><a href="#">О компании</a></li>
                  <li><a href="#">Контакты</a></li>
               </ul>
            </nav>

            <button class="burger header__burger">
               <span class="burger__icon">
                  <span class="burger__line"></span>
               </span>
            </button>
         </div>
      </div>
   </div>
</header>
