<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />
   <meta content="ie=edge" http-equiv="X-UA-Compatible" />
   <link href="css/main.css" rel="stylesheet" />
   <title>@@title</title>
</head>
