.burger {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;

   &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      background-color: var(--menu-black);
      inset: 0;
   }
}

.burger__icon {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 16px;
   height: 12px;
}

.burger__line {
   display: block;
   width: 100%;
   height: 2px;
   border-radius: 2px;
   background-color: var(--color-red, #dc4433);

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: inherit;
      height: inherit;
      background-color: inherit;
   }

   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
   }
}
