.header__top-line {
   padding: 17px 0 16px;
   font-weight: 500;
   font-size: 14px;
   color: var(--color-white);
   background-color: var(--menu-black);

   @media (max-width: 1258px) {
      padding: 12px 0 11px;
   }
}

.header__top-inner {
   display: flex;
   flex-wrap: wrap;
   column-gap: 78px;
   row-gap: 10px;
   align-items: center;
   padding-left: 116px;

   @media (max-width: 1258px) {
      column-gap: 58px;
      padding-left: 6px;
   }
}

.header__top-item {
   transition: color 0.17s ease;

   &:hover {
      font-weight: 700;
   }
}

.header__top-item--hover-color {
   &:hover {
      color: var(--color-red, #dc4433);
   }
}

.header__burger {
   display: none;

   @media (max-width: 1258px) {
      display: flex;
   }
}

.header-top-item {
   display: flex;
   column-gap: 5px;
   align-items: center;
}

.header-top-item__icon {
   display: block;
   width: 1em;
   height: 1em;

   & svg,
   & img {
      width: 100%;
      height: 100%;
      fill: currentcolor;
      object-fit: cover;
   }
}

.header-top-item__text--small {
   font-size: 12px;
}

.header-top-item__text--fw400 {
   font-weight: 400;
}

.header-top-item__text--ml {
   margin-left: 5px;
   color: #e2e2e2;
}

.header__bottom-line {
   padding: 21px 0;
   box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
   background-color: var(--color-white);

   @media (max-width: 1258px) {
      padding: 20px 0;
   }
}

.header__bottom-inner {
   position: relative;
   z-index: 2;
   display: flex;
   flex-wrap: wrap;
   column-gap: 60px;
   row-gap: 10px;
   align-items: center;
   justify-content: space-between;
}

.header__logo {
   transition: transform 0.12s ease;

   &:hover {
      transform: scale(1.07);
   }

   @media (max-width: 1258px) {
      --width: 140px;
      --height: 26px;
   }
}

.header__main-menu {
   & a {
      font-weight: 500;
      font-size: 16px;
      color: inherit;
      transition: color 0.16s ease;

      &:hover {
         color: var(--color-red);
      }
   }

   & ul {
      display: flex;
      column-gap: 26px;

      & li {
         position: relative;

         &.active {
            > a {
               color: var(--color-red);
            }

            .dropdown-icon {
               transform: rotate(180deg);
            }

            & > ul {
               display: flex;
            }
         }
      }

      & li a {
         z-index: 2;
         display: flex;
         column-gap: 5px;
         align-items: center;
         transition: color 0.16s ease;

         .dropdown-icon {
            display: block;
            width: 6px;
            height: 4px;

            & svg,
            & img {
               width: 100%;
               height: 100%;
               fill: currentcolor;
               object-fit: cover;
            }
         }
      }

      & li > ul {
         position: absolute;
         top: 100%;
         left: 0;
         z-index: 50;
         display: none;
         flex-direction: column;
         row-gap: 20px;
         width: max-content;
         max-width: 300px;
         max-height: 50vh;
         margin-top: 15px;
         border: 1px solid var(--light-grey, #c7c7c7);
         border-radius: 4px;
         padding: 40px 30px;
         background: var(--color-white);

         &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 5.5%;
         }
      }
   }

   @media (max-width: 1258px) {
      display: none;
   }
}
